.row
{
background-color:;

}
.row1
{

	margin-top:0px;
	
}
.container1
{
background-color:;

}
.free
{
	padding-left:15px;padding-right:15px;
	
}
.freemain
{
	background-color:lightgray;
	padding-left:0px;
	padding-right:0px;
	height:600px;
	text-align:center;
}
.freemain p
{
	padding-bottom:5px;
	padding-top:5px;
}
.freemain hr
{
	border:1px solid gray
}
 hr
{
	border:1px solid gray
}

.standard
{
	background-color:;height:500px;
}
.premium
{
	background-color:;height:500px;
}
.pplus
{
	background-color:;height:500px;
}
.freetop
{
	width:100%;
	height:10px;
	background-color:black;
}
.price
{
	color:red;
}
.copyright{text-align:center;}
.footer-bottom {
    background: #1f1e1e none repeat scroll 0 0;
    padding: 2em 0;
	
}
.copyright p {
    color: silver;
    font-size: 14px;
    margin: 0;
}