
html, body{
    font-size: 100%;
	background:	#fff;
	font-family: 'Open Sans', sans-serif !important;
}
body a{
	
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*-- banner --*/
.banner{
	background:url(../images/ships.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:610px;
	padding:4em 0 0;
}

.banner-info{
	margin:11em 0 0;
	text-align: center;
}
.banner-info h1{
	color:#fff;
	font-size:2em;
	margin:0 auto;
	font-family: 'Montserrat', sans-serif;
	font-style:italic;
	font-weight:300;
	width:70%;
	line-height: 1em;
}
.more{
	margin:2em 0 0;
}
.more a{
	padding: 8px 20px;
	font-weight:600;
	background: #168EEA;
	color: #fff;
	font-size: 14px;
	border-bottom: 3px solid #09314F;
	text-decoration: none;
}
.more a:hover{
	color:#168EEA;
}
.exporter a{
	padding: 13px 40px;
	font-size: 15px;
}
/*-- //banner --*/
/* Bounce To Top */
.hvr-bounce-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#fff;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
  color: white;
}
.hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/* //Bounce To Top */
/*-- sticky-nav --*/
.banner-bottom{
	background:#055390;
	padding:0px 0;
	position:relative;
	}
.banner-bottom-nav ul{
	padding:0;
	margin:0;
	font-family: 'Montserrat', sans-serif;
	}
.home-logo{
	position:absolute;
	top:30%;
	left:16%;
	
}
.banner-bottom-nav {
  padding-left: 3em;
}
.home-logo a{
	background:url(../images/gears.png) no-repeat 0px 0px;
	display:block;
	height:40px;
	width:40px;
}
.banner-bottom-nav ul li{
	display:inline-block;
	margin: 0 15px;
	}
.banner-bottom-nav ul li a{
	font-style:normal;
	font-size:16px;
	font-weight:bold;
	color:#fff;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	text-decoration:none;
	}
.banner-bottom-nav ul li a:hover{
	text-decoration:none;
	color:#A0062F;
	}
.banner-bottom-nav ul li:nth-child(1) {
	margin-left: 0;
	}
/*-- effect for nav --*/
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 0px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
/*-- //effect --*/
/*-- menu --*/
	.banner-bottom-nav span{
		display:none;
		}
	/*-- //menu --*/
	/*-- fixed-header --*/
		.fixed-header{
			float:left;
			padding: .5em 0;
		}
		.fixed{
			position: fixed;
			top: 0;
			width: 100%;
			margin: 0 auto;
			left:0;
			z-index:9999;
		}
	/*-- //fixed-header --*/
.search-sub{
	float:right;
	margin: .2em 0;
}
.form-control{
	box-shadow:none;
	  border: 1px solid #fff;
}
.btn-default {
  border-color: #fff;
}
.btn-default:hover{
  background:#fff !important;
  border-color: #fff;
}
.navbar-form{
	margin:0;
}
/*-- //sticky-nav --*/
/*-- welcome-company --*/
.company-grid{
	float:left;
	width:33.33%;
}
.welcome-company {
  padding: 4em 0;
}
.welcome-company-grid-right h3,.about-grid-left h3,.about-grid-right h3,.testimonials h3,.team h3,
.projects h3,.products h3,.contact h3{
	font-size:2.5em;
	color:#168EEA;
	margin: 0 0 1em;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
}
.welcome-company-grid-right p{
	color:#999;
	font-size:14px;
	margin:0;
	line-height:1.8em;
}
/*-- //welcome-company --*/
/*-- about --*/
.about {
  background-color: #f4f7f9;
}
.about-grid-left h3,.about-grid-right h3,.products h3,.contact h3{
	margin:0 0 2em;
}
.about-grids {
  padding: 4em 0 0;
}
.about-grid-left p{
	color:#999;
	font-size:14px;
	margin:1em 0 2em;
	line-height:1.8em;
}
.about-grid-lft p{
	width: 40px;
	height: 40px;
	text-align: center;
	padding-top: .4em;
	background:#075490;
	color:#fff;
	margin:0;
	font-size:18px;
	border-radius:25px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	-o-border-radius:25px;
	-ms-border-radius:25px;
}
.about-grid-rgt h4{
	color:#075490;
	font-size: 20px;
	line-height: 1.5em;
	margin:0 0 1em;
}
.about-grid-rgt p{
	color:#999;
	font-size:14px;
	margin:1em 0 2em;
	line-height:1.8em;
}
.testimonials{
	margin:2em 0 0;
	padding:2em 0 0;
	border-top:1px solid #f5f5f5;
}
.testimonials p{
	color:#999;
	font-size:14px;
	margin:0 0 0 1em;
	line-height:1.8em;
	position:relative;
}
.testimonials p:before{
	content:'';
	background:url(../images/1.png) no-repeat 0px 0px;
	display:block;
	height: 11px;
	width: 11px;
	position: absolute;
	top: 3%;
	left:-5%;
}
.testimonials h4{
	color:#075490;
	font-size:16px;
	margin:1em 0 0;
	font-weight: 600;
}
.team{
	background:#eff3f6;
	padding: 4em 0;
	margin:4em 0 0;
}
.team h3{
	color:#168EEA;
	margin:0 0 2em;
}
.team-grid{
	text-align:center;
	position:relative;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}
.team-grid img{
	margin: 0 auto;
}
.team-grid h4{
	margin:1em 0;
	color:#045999;
	font-size:20px;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
}
.team-grid h4 span{
	display:block;
	font-size:13px;
}
.team-grid p{
	color:#999;
	font-size:14px;
	margin:0;
	line-height:1.8em;
	position:relative;
}
.social{
	position:absolute;
	top: 0%;
	left: 17%;
	display: none;
	background-color: rgba(85, 85, 85, 0.67);
	padding:107px 53.5px 42px;
	border-radius: 120px;
	-webkit-border-radius: 120px;
	  -moz-border-radius: 120px;
	  -o-border-radius: 120px;
	  -ms-border-radius: 120px;
}
.team-grid:hover div.social{
	display:block;
}
.social ul{
	padding:4em 0 0;
	margin:0;
}
.social ul li{
	display:inline-block;
}
.social ul li a.facebook{
	background:url(../images/img-sp.png) no-repeat -78px -13px;
	display:block;
	height: 33px;
	width: 33px;
}
.social ul li a.facebook:hover{
	background: url(../images/img-sp.png) no-repeat -7px -13px;
	display: block;
}
.social ul li a.twitter{
	background:url(../images/img-sp.png) no-repeat -77px -58px;
	display:block;
	height:33px;
	width:33px;
}
.social ul li a.twitter:hover{
	background:url(../images/img-sp.png) no-repeat -7px -58px;
	display:block;
}
.social ul li a.g{
	background:url(../images/img-sp.png) no-repeat -77px -104px;
	display:block;
	height:33px;
	width:33px;
}
.social ul li a.g:hover{
	background:url(../images/img-sp.png) no-repeat -7px -104px;
	display:block;
}
.social ul li a.in{
	background:url(../images/img-sp.png) no-repeat -77px -153px;
	display:block;
	height:33px;
	width:33px;
}
.social ul li a.in:hover{
	background:url(../images/img-sp.png) no-repeat -7px -153px;
	display:block;
}
/*-- //about --*/
/*-- services --*/
.services{
	background:#f4f7f9;
	padding:4em 0;
}
.services-grd{
	background:#EBF3F9;
	padding: 2em 1em;
	text-align: center;
}
.services-grd h3{
	color:#045999;
	font-weight: 600;
	margin: 1em 0;
	font-size: 18px;
	text-transform:capitalize;
	line-height: 1.4em;
}
.services-grd p{
	color:#9D9C9C;
	font-size:14px;
	margin:0;
	line-height:1.8em;
}
.gear span{
	background:url(../images/2.png) no-repeat 68px -16px;
	display:block;
	height:64px;
}
.men span{
	background:url(../images/2.png) no-repeat 68px -100px;
	display:block;
	height:64px;
}
.rupee span{
	background:url(../images/2.png) no-repeat 68px -195px;
	display:block;
	height:64px;
}
.truck span{
	background:url(../images/2.png) no-repeat 68px -279px;
	display:block;
	height:64px;
}
.our {
  padding: 4em 0em;
  background: #EFF3F6;
}
.our-left h4 {
  font-size: 18px;
  font-weight: 700;
  color:#045999;
  margin-left: 10px;
  line-height: 1.6em;
  text-transform: capitalize;
  display: inline-block;
  width: 81%;
  vertical-align: middle;
}
.our-left p {
  font-size: 14px;
  color:#B6B8B6;
  margin-top: 20px;
  line-height: 1.6em;
}
.glyphicon-calendar, .glyphicon-globe, .glyphicon-wrench, .glyphicon-star-empty, .glyphicon-cog, .glyphicon-signal {
  font-size: 3.2em;
  display: inline-block;
  vertical-align: middle;
}
/*-- //services --*/
/*-- projects --*/
.projects{
	padding:4em 0;
	background-color:#F4F7F9;
}
.projects h3{
	border-bottom:1px solid #E7EBED;
	padding-bottom: 1em;
}
.project-grid{
	background:#EBF3F9;
	margin:0 .5em;
}
.project-grid-text{
	padding:1em;
}
.project-grid-text h4{
	color:#000;
	font-size:16px;
	margin:0 0 .5em;
	font-family: 'Montserrat', sans-serif;
	text-transform:capitalize;
}
.project-grid-text p{
	color:#A5A3A3;
	font-size:14px;
	margin:0;
	line-height:1.8em;
}
.project-grid-text p a{
	color:#168EEA;
	text-decoration:none;
}
.project-grid-text p a:hover{
	color:#A5A3A3;
}
/*--flexisel--*/
.flex-slider{	
background:#222227;
padding: 70px 0 165px 0;
}
.opportunity{
background:#28282e;
margin:0px 20px;
padding:80px 0;
position:relative;
}
#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0px;
	position: relative;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width: 20px;
	height: 34px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
}
.nbs-flexisel-nav-left {
	left:96%;
	top:-29% !important;
	background: url(../images/2.png) no-repeat -37px -351px;
}
.nbs-flexisel-nav-right {
	right:0%;
	top:-29% !important;
	background: url(../images/2.png) no-repeat -71px -351px;
}
/*--//flexisel--*/
/*-- //projects --*/
/*-- products --*/
.products{
	padding:4em 0;
	background-color:#EFF3F6;
}
.product-grd {
	background:#F9FAFA;
	margin:0 .5em;
}
.project-grid-text1{
	padding:1em;
}
.project-grid-text1 h4{
	color:#045999;
	font-size:14px;
	margin:0 0 .5em;
	font-family: 'Montserrat', sans-serif;
	text-transform:capitalize;
	line-height: 1.4em;
}
.project-grid-text1 p{
	color:#A5A3A3;
	font-size:14px;
	margin:0;
	line-height:1.8em;
}
.product-grids:nth-child(3){
	margin:3em 0 0;
}
/*-- //products --*/
/*-- contact --*/
.map{
	position:relative;
}
.map iframe{
	width:100%;
	min-height:700px;
	margin:0 0 -7px;
}
.map-color{
	background:rgba(206, 208, 208, 0.37);
	position: absolute;
	top: 0%;
	left: 0;
	min-height: 700px;
	width: 100%;
}
.contact-info{
	float:right;
	margin:5em 2em 0em 0;
	width:40%;
	background:#fff;
	padding:1.5em;
}
.contact-info h4{
	font-size:25px;
	margin:0;
	color:#168EEA;
	font-family: 'Montserrat', sans-serif;
}
.contact-info p{
	font-size: 14px;
	color: #999;
	margin: 1em 0;
	line-height: 1.7em;
}
.contact-info p span{
	display:block;
}
.contact-info input[type="text"],.contact-info input[type="email"],.contact-info textarea{
	outline:none;
	padding:10px 13px;
	background:#fff;
	border:1px solid #DDD9D9;
	font-size:13px;
	color:#a1a1a1;
	width:100%;
}
.contact-info input[type="email"]{
	margin:1.5em 0;
}
.contact-info textarea{
	resize:none;
	min-height:150px;
	margin:1.5em 0 1em;
}
.contact-info input[type="submit"]{
	outline:none;
	border:none;
	padding: 8px 0px;
	width:30%;
	background:#168EEA;
	color: #fff;
	font-size: 15px;
	border-bottom:3px solid #09314F;
	text-decoration: none;
	transition: .5s all;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
}
.contact-info input[type="submit"]:hover{
	background:#f4f4f4;
	color:#168EEA;
}
.contact {
  margin: 4em 0;
}
/*-- //contact --*/
/*-- footer --*/
.footer{
	padding:4em 0;
	background:#F4F7F9;
}
.footer-grid-left h3,.footer-grid-right h3{
	font-size:25px;
	color:#168EEA;
	margin: 0 0 1em;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
}
.footer-grid-left h4,.footer-grid-right h4{
	text-transform: capitalize;
	margin: 1em 0;
	color:#045999;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-style:italic;
	line-height: 1.7em;
}
.footer-grid-left p,.footer-grid-right p{
	color:#999;
	font-size: 14px;
	margin: 0;
	line-height: 1.8em;
}
.maiores ul{
	padding:2em 0 0;
	margin:0;
}
.maiores ul li{
	display:inline-block;
}
.maiores ul li a.f{
	background:url(../images/img-sp.png) no-repeat -78px -13px;
	display:block;
	height:33px;
	width:33px;
}
.maiores ul li a.f:hover{
	background: url(../images/img-sp.png) no-repeat -7px -13px;
	display: block;
}
.maiores ul li a.t{
	background:url(../images/img-sp.png) no-repeat -77px -58px;
	display:block;
	height:33px;
	width:33px;
}
.maiores ul li a.t:hover{
	background:url(../images/img-sp.png) no-repeat -7px -58px;
	display:block;
}
.maiores ul li a.g1{
	background:url(../images/img-sp.png) no-repeat -77px -104px;
	display:block;
	height:33px;
	width:33px;
}
.maiores ul li a.g1:hover{
	background:url(../images/img-sp.png) no-repeat -7px -104px;
	display:block;
}
.maiores ul li a.in1{
	background:url(../images/img-sp.png) no-repeat -77px -153px;
	display:block;
	height:33px;
	width:33px;
}
.maiores ul li a.in1:hover{
	background:url(../images/img-sp.png) no-repeat -7px -153px;
	display:block;
}
.footer-grid-right p{
	margin:0 0 2em 1em;
}
.footer-grid-right h3{
	margin:0 0 1em .5em;
}
.footer-grid-right-grids:nth-child(2){
	margin:2em 0 0;
}
.footer-grid-left img{
	width:100%;
}
.footer-bottom{
	padding: 2em 0;
	background: #1F1E1E;
}
.footer-bottom p{
	text-align:center;
	color:#fff;
	font-size:14px;
	margin:0;
}
.footer-bottom p a{
	color:#fff;
	text-decoration:none;
}
.footer-bottom p a:hover{
	color:#168EEA;
	text-decoration:none;
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/arrow.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/	
/*-----start-responsive-design------*/
@media (max-width:1440px){
	.home-logo {
	  left: 11%;
	}
}
@media (max-width: 1366px){
	.home-logo {
	  left: 9%;
	}
	.nbs-flexisel-nav-left,.nbs-flexisel-nav-right {
		top: -33% !important;
	}
}
@media (max-width:1280px){
	.banner {
		min-height: 540px;
	}
	.home-logo {
	  left: 6%;
	}
	.welcome-company-grid-right h3, .about-grid-left h3, .about-grid-right h3, .testimonials h3, .team h3, .projects h3, .products h3, .contact h3 {
		font-size: 1.6em;
	}
	.about-grid-left h3, .about-grid-right h3, .products h3, .contact h3,.team h3{
	  margin: 0 0 1.5em;
	}
	.nbs-flexisel-nav-left,.nbs-flexisel-nav-right {
		top: -31% !important;
	}
}
@media (max-width:1024px){
	.banner-bottom-nav ul li {
	  margin: 0;
	}
	.banner-info h1 {
		width: 85%;
	}
	.banner-bottom-nav ul li a {
		font-size: 16px;
	}
	.welcome-company-grid-right h3, .about-grid-left h3, .about-grid-right h3, .testimonials h3, .team h3, .projects h3, .products h3, .contact h3 {
	  font-size: 2em;
	}
	.welcome-company-grid-right h3{
		margin: 0 0 0.5em;
	}
	.about-grid-rgt h4 {
	  font-size: 17px;
	  margin: 0;
	}
	.testimonials p:before {
	  left: -8%;
	}
	.social {
		left:10%;
	}
	.gear span {
	  background: url(../images/2.png) no-repeat 34px -16px;
	}
	.men span {
	  background: url(../images/2.png) no-repeat 36px -100px;
	}
	.rupee span {
	  background: url(../images/2.png) no-repeat 32px -195px;
	}
	.truck span {
	  background: url(../images/2.png) no-repeat 44px -279px;
	}
	.services-grd h3 {
		font-size: 16px;
	}
	.our-left h4 {
	  font-size: 17px;
	  width: 75%;
	}
	.nbs-flexisel-nav-left {
		left: 95%;
	}
	.project-grid-text h4 {
		font-size: 14px;
	}
	.contact-info {
		width: 50%;
	}
	.contact-info input[type="submit"] {
		font-size: 14px;
	}
	.contact-info h4 {
		font-size: 22px;
	}
	.footer-grid-left h4, .footer-grid-right h4 {
		font-size: 14px;
	}
	.logo {
	  width: 29%;
	}
	.banner-info {
		margin: 9em 0 0;
	}
}
@media (max-width:768px){
	.home-logo{
		display:none;
	}
	span.menu{
	  display: block;
	  text-align: center;
	  cursor: pointer;
	  color: #E74C3C;
	  font-size: 16px;
	  font-weight: 700;
	  position: relative;
	}
	ul.nav1 {
		display: none;
	}
	.banner-bottom-nav ul {
		padding:1em 0 0;
		margin: 0;
		z-index: 9999;
		position: absolute;
		width: 96%;
		left: 15px;
	}
	.banner-bottom-nav ul.nav1 li.active{
		background: #DC5329;
	}
	.banner-bottom-nav ul.nav1 li {
		display: block;
		text-align: center;
		background:#055390;
		margin: 0;
		width: 100%;
		padding: 1em 0;
	}
	.banner {
		padding: 3em 0 0;
		background: url(../images/ships.jpg) no-repeat -130px 0px;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
	}
	.banner-info h1 {
	  width: 100%;
	  font-size:1.9em;
	}
	.exporter a {
	  padding: 11px 30px;
	}
	.banner-bottom-nav {
	  padding-left: 0;
	}
	.banner-bottom {
		padding: 1em 0;
	}
	.fixed-header {
	  padding: 0;
	}
	.search-sub {
	  padding-top: 10px;
	}
	.welcome-company,.services,.footer,.products,.projects,.our {
	  padding: 3em 0;
	}
	.contact {
	  margin: 3em 0;
	}
	.welcome-company-grid-left,.about-grid-left {
	  margin-bottom: 2em;
	}
	.welcome-company-grid-right h3, .about-grid-left h3, .about-grid-right h3, .testimonials h3, .team h3, .projects h3, .products h3, .contact h3 {
	  font-size: 1.8em;
	}
	.about-grid-left img {
	  width: 100%;
	}
	.about-grid-lft {
	  float: left;
	  width: 10%;
	}
	.about-grids {
	  padding: 3em 0 0;
	}
	.testimonials {
		margin: 0;
	}
	.testimonial {
	  float: left;
	  width: 33.33%;
	}
	.team-grid {
	  float: left;
	  width: 33.33%;
	}
	.social {
	  left:6%;
	}
	.social ul {
		padding:65px 0 0;
	}
	.social {
		padding:73px 33.5px 34px;
	}
	.team-grid h4 {
		font-size: 18px;
	}
	.team-grid h4 span {
	  font-size: 11px;
	}
	.fixed {
		position: inherit;
	}
	.services-grid {
	  float: left;
	  width: 50%;
	}
	.gear span {
	  background: url(../images/2.png) no-repeat 98px -16px;
	}
	.men span {
	  background: url(../images/2.png) no-repeat 95px -100px;
	}
	.rupee span {
	  background: url(../images/2.png) no-repeat 95px -195px;
	}
	.truck span {
	  background: url(../images/2.png) no-repeat 96px -279px;
	}
	.services-grid:nth-child(2) {
	  margin-bottom: 2em;
	}
	.our-left {
	  float: none;
	  width: 70%;
	  margin: 0 auto;
	}
	.our-left {
	  margin-bottom: 1em;
	}
	.nbs-flexisel-nav-left {
	  left: 93%;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	  top: -32% !important;
	}
	.product-grid {
	  float: left;
	  width: 33.33%;
	}
	.product-grids:nth-child(3) {
	  margin: 2.5em 0 0;
	}
	.contact-info {
	  width: 70%;
	}
	.footer-grid-left,.footer-grid-right,.footer-grid-right-grid {
	  float: left;
	  width: 50%;
	}
	.logo a span {
		font-size: 1.1em;
	}
	.banner-bottom-nav ul li a:hover {
	  color: #168EEA;
	}
	.logo {
	  width: 33%;
	}
	.banner {
	  min-height: 485px;
	}
	.search-sub {
	  margin: 0;
	}
}
@media (max-width:736px){
	.banner {
	  min-height: 475px;
	}
	.banner-info {
		margin: 9em 0 0;
	}
	.logo {
	  width: 34%;
	}
	.search-sub {
	  width: 60%;
	}
	.form-control {
	  width: 80%;
	  float: left;
	  margin-right: .2em;
	}
	.navbar-form .form-group {
	  margin-bottom: 0;
	}
	.search-sub {
	  padding-top: 0;
	}
}
@media (max-width:667px){
	.logo {
	  width: 38%;
	}
	.form-control {
		width: 77%;
	}
}
@media (max-width:640px){
	.logo a {
	  font-size: 2.4em;
	}
	.banner-info h1 {
	  font-size: 1.6em;
	}
	.banner-info {
		margin:8em 0 0;
	}
	.banner {
	  min-height: 450px;
	}
	.search-sub {
	  width:65%;
	}
	.navbar-form .form-group {
	  margin-bottom: 0;
	}
	.navbar-form {
	  padding: 0;
	}
	.form-control {
	  display: block;
	  width: 75%;
	  float: left;
	  margin-right: .5em;
	}
	.welcome-company-grid-right h3, .about-grid-left h3, .about-grid-right h3, .testimonials h3, .team h3, .projects h3, .products h3, .contact h3 {
	  font-size: 1.5em;
	}
	.about-grid-lft {
	  width: 12%;
	}
	.about-grid-rgt {
	  float: right;
	  width: 88%;
	}
	.testimonials p:before {
	  left: -14%;
	}
	.team-grid {
	  float: none;
	  width: 60%;
		margin: 0 auto;
	}
	.social {
	  left:15%;
	  padding: 115px 52.5px 34px;
	  border-radius: 128px;
	  -webkit-border-radius: 128px;
	  -moz-border-radius: 128px;
	  -o-border-radius: 128px;
	  -ms-border-radius: 128px;
	}
	.team-grid:nth-child(3) {
	  margin: 2em auto;
	}
	.services-grd h3 {
	  font-size: 15px;
	}
	.gear span {
	  background: url(../images/2.png) no-repeat 67px -16px;
	}
	.men span {
	  background: url(../images/2.png) no-repeat 68px -100px;
	}
	.rupee span {
	  background: url(../images/2.png) no-repeat 64px -195px;
	}
	.truck span {
	  background: url(../images/2.png) no-repeat 67px -279px;
	}
	.more a {
	  padding: 7px 17px;
	  font-size: 13px;
	}
	.product-grid {
	  float: none;
	  width: 75%;
	  margin: 0 auto;
	  margin-bottom: 2em;
	}
	.product-grids:nth-child(3) {
	  margin: 0;
	}
	.contact-info {
		margin: 3em 2em 0em 0;
	}
	.contact-info input[type="submit"] {
	  font-size: 13px;
	}
	.map-color,.map iframe {
		min-height: 650px;
	}
	.search-sub {
	  padding-top: 8px;
	}
}
@media (max-width: 600px){
	.social {
	  left: 12%;
	}
}
@media (max-width:568px){
	.social {
	  left: 10%;
	}
	.search-sub {
	  padding-top: 8px;
	}
}
@media (max-width:480px){
	.logo {
	  width: 43%;
	}
	.fixed-header {
		width: 10%;
	}
	.fixed-header img{
		width:100%;
	}
	.logo a {
	  font-size: 2em;
	}
	.banner {
		padding: 2em 0 0;
	}
	.banner-info h1 {
	  font-size: 1.4em;
	}
	.banner-info {
	  margin:6em 0 0;
	}
	.banner {
	  min-height: 360px;
	}
	.search-sub {
	  width: 75%;
	  padding-top: 5px;
	}
	.welcome-company, .services, .footer, .products, .projects, .our {
	  padding: 2em 0;
	}
	.about-grid-left h3, .about-grid-right h3, .products h3, .contact h3, .team h3 {
	  margin: 0 0 1em;
	}
	.about-grid-rgt {
	  width: 84%;
	}
	.about-grid-rgt h4 {
		font-size: 15px;
	}
	.testimonial {
	  float: none;
	  width: 100%;
	  margin-bottom: 1.5em;
	}
	.testimonials p:before {
	  left: -18px;
	}
	.team {
	  margin: 2em 0 0;
	}
	.social {
		left: 6%;
		padding: 85px 42.5px 43px;
		border-radius: 132px;
		-webkit-border-radius: 132px;
		-moz-border-radius: 132px;
		-o-border-radius: 132px;
		-ms-border-radius: 132px;
	}
	.gear span {
	  background: url(../images/2.png) no-repeat 31px -16px;
	}
	.men span {
	  background: url(../images/2.png) no-repeat 31px -100px;
	}
	.rupee span {
	  background: url(../images/2.png) no-repeat 29px -195px;
	}
	.truck span {
	  background: url(../images/2.png) no-repeat 31px -279px;
	}
	.our-left {
		width: 90%;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	  top:-19% !important;
	}
	.project-grid{
		margin:0;
	}
	.project-grid img{
		width:100%;
	}
	.nbs-flexisel-nav-left {
	  left: 89%;
	}
	.product-grd {
	  margin: 0;
	}
	.product-grid {
		width: 100%;
	}
	.contact-info {
	  margin: 1em 1em 0em 0;
	}
	.map-color, .map iframe {
	  min-height: 580px;
	}
	.contact-info {
	  width: 92%;
	}
	.footer-grid-left, .footer-grid-right, .footer-grid-right-grid {
	  float: none;
	  width: 100%;
	}
	.footer-grid-right h3 {
	  margin: 1em 0 1em 0em;
	}
	.footer-grid-right p {
	  margin: 0 0 2em 0em;
	}
	.footer-grid-right-grid {
	  float: left;
	  width: 50%;
	}
	.contact-info input[type="submit"] {
		width: 40%;
	}
	.banner-bottom-nav ul {
		width: 94%;
	}
	.banner-bottom-nav ul li a {
	  font-size: 14px;
	}
}
@media (max-width: 414px){
	.banner-info {
	  margin: 6em 0 0;
	}
	.banner-info h1 {
	  font-size: 1.2em;
	}
	.banner {
	  min-height: 310px;
	}
	span.menu img {
	  width: 100%;
	}
	.fixed-header {
		width: 12%;
	}
	.search-sub {
	  width: 75%;
	}
	.btn {
	  padding: 6px 8px;
	  font-size: 13px;
	}
	.search-sub {
	  padding-top: 6px;
	}
	.team-grid {
		width: 100%;
	}
	.social {
	  left: 16%;
	  padding: 85px 53.5px 64px;
	}
	.services-grid {
	  float: none;
	  width: 100%;
	  margin-bottom: 1em;
	}
	.gear span {
	  background: url(../images/2.png) no-repeat 100px -16px;
	}
	.men span {
	  background: url(../images/2.png) no-repeat 98px -100px;
	}
	.rupee span {
	  background: url(../images/2.png) no-repeat 95px -195px;
	}
	.truck span {
	  background: url(../images/2.png) no-repeat 102px -279px;
	}
	.our-left {
	  width: 100%;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	  top: -22% !important;
	}
	.form-control {
		width: 72%;
	}
}
@media (max-width:320px){
	.logo a {
	  font-size:1.3em;
	}
	.banner-info h1 {
	  font-size: 1em;
	}
	.banner-info {
	  margin: 4em 0 0;
	}
	.banner {
	  min-height: 250px;
	}
	.form-control {
	  height: 30px;
	  font-size: 13px;
	}
	.btn {
	  padding: 4px 7px;
	}
	.search-sub {
	  width: 80%;
	}
	.form-control {
	  width: 69%;
	}
	.search-sub {
	  padding-top:1px;
	}
	.welcome-company, .services, .footer, .products, .projects, .our {
	  padding: 1.5em 0;
	}
	.welcome-company-grid-left, .about-grid-left {
	  margin-bottom: 1em;
	}
	.welcome-company-grid-right h3, .about-grid-left h3, .about-grid-right h3, .testimonials h3, .team h3, .projects h3, .products h3, .contact h3 {
	  font-size: 1.1em;
	}
	.welcome-company-grid-left,.welcome-company-grid-right,.about-grid-left,.about-grid-right,.services-grid,
	.about-grid-rgt,.product-grid,.footer-grid-left,.footer-grid-right,.footer-grid-right-grid{
	  padding: 0 !important;
	}
	.welcome-company-grid-right p,.about-grid-left p,.about-grid-rgt h4,.testimonials p,.team-grid p,
	.services-grd p,.project-grid-text p,.project-grid-text1 p,.footer-grid-left p, .footer-grid-right p,
	.footer-bottom p{
		font-size: 13px;
	}
	.footer-bottom {
		padding: 1.5em 0;
	}
	.maiores ul {
		padding: 1em 0;
	}
	.about-grids {
	  padding: 2em 0 0;
	}
	.about-grid-lft p {
	  width: 25px;
	  height: 25px;
	  font-size: 11px;
	}
	.about-grid-lft {
	  width: 20%;
	}
	.about-grid-rgt {
	  width: 80%;
	}
	.about-grid-rgt p {
	  font-size: 13px;
	  margin: 0.5em 0 1em;
	}
	.testimonials {
		padding: 1em 0 0;
	}
	.testimonials h4 {
	  font-size: 14px;
	  margin: 0.5em 0 0;
	}
	.team {
	  margin: 0;
	  padding: 2em 0;
	}
	.social {
		left: 14%;
		padding: 37px 26.5px 55px;
		border-radius: 135px;
		-webkit-border-radius: 135px;
		-moz-border-radius: 135px;
		-o-border-radius: 135px;
		-ms-border-radius: 135px;
	}
	.team-grid h4 {
	  font-size: 16px;
	    margin: 1em 0 0.5em;
	}
	.team-grid h4 span {
	  font-size: 10px;
	}
	.gear span {
	  background: url(../images/2.png) no-repeat 65px -16px;
	}
	.more {
	  margin: 1em 0 0;
	}
	.exporter{
		margin:1em 0 0;
	}
	.men span {
	  background: url(../images/2.png) no-repeat 67px -100px;
	}
	.rupee span {
	  background: url(../images/2.png) no-repeat 68px -195px;
	}
	.truck span {
	  background: url(../images/2.png) no-repeat 70px -279px;
	}
	.glyphicon-calendar, .glyphicon-globe, .glyphicon-wrench, .glyphicon-star-empty, .glyphicon-cog, .glyphicon-signal {
		font-size: 2.2em;
	}
	.our-left h4 {
	  font-size: 14px;
	  width: 75%;
	}
	.our-left p {
	  font-size: 13px;
	  margin-top: 0px;
	}
	.nbs-flexisel-nav-left {
	  left: 82%;
	}
	.product-grid {
	  margin-bottom: 1.5em;
	}
	.contact-info h4 {
	  font-size: 18px;
	}
	.contact-info p {
	  font-size: 13px;
	  margin: 0.5em 0 1em;
	}
	.contact-info {
	  margin: 0.5em 0.5em 0em 0;
	  width: 95%;
	  padding: 1em;
	}
	.contact-info input[type="text"], .contact-info input[type="email"], .contact-info textarea {
		padding: 7px 13px;
	}
	.contact-info input[type="email"],.contact-info textarea {
	  margin: 1em 0;
	}
	.contact-info input[type="submit"] {
		padding: 7px 0px;
		width: 55%;
	}
	.map-color, .map iframe {
	  min-height: 497px;
	}
	.contact {
	  margin: 2em 0;
	}
	.footer-grid-left h3, .footer-grid-right h3 {
	  font-size: 20px;
	  margin: 0 0 0.5em;
	}
	.banner-bottom-nav ul.nav1 li {
	  padding: 0.5em 0;
	}
	.banner-bottom-nav ul {
	  width: 91%;
	}
	.banner-bottom-nav ul li a {
	  font-size: 13px;
	}
	.footer-grid-left h4, .footer-grid-right h4 {
	  font-size: 12px;
	}
	.footer-grid-right p {
	  margin: 0 0 1em 0em;
	}
	.banner {
	  padding: 1.5em 0 0;
	}
	.logo a span {
	  font-size: 1.3em;
	}
	.about-grid-left img,.product-grd a img,.footer-grid-left img{
	  width: 70%;
	  margin: 0 auto;
	}
	.company-grid img {
	  width: 100%;
	}
	.team-grid img {
	  width: 80%;
	}
	.services-grd {
		padding: 1em;
	}
	.project-grid img {
	  width: 70%;
	  margin:0 auto;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	  top: -29% !important;
	}
	.footer-grid-left h4, .footer-grid-right h4 {
	  font-size: 12px;
	  text-align: center;
	}
	.project-grid-text1 {
	  text-align: center;
	}
	.about-grid-left h3,.about-grid-left p {
	  text-align: center;
	}
	.services-grid:nth-child(2) {
	  margin-bottom: 1em;
	}
	.footer-grid-right-grid img {
	  width: 90%;
	  margin: 0 auto;
	}
	
}